doctype html
include ../mixins/modal

html(lang="en")
	head
		<!-- Meta -->
		meta(charset="utf-8")
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		title QA BEAST!
		
		<!-- CSS -->
		link(rel="stylesheet" href="/assets/css/main.css")
		link(rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css")

		<!-- JavaScript -->
		script(src="https://code.jquery.com/jquery-2.1.3.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
		script(src="https://code.jquery.com/jquery-2.0.3.min.js")
	
	body
		include ../partials/login
		include ../partials/nav
		
	
	if session.error
		.alert.alert-danger.col-xs-12.text-center.errors(role="alert")=session.error
		#{delete session.error}
	
	else if session.success
		.alert.alert-success.col-xs-12.text-center.errors(role="alert")=session.success
		#{delete session.success}
	
	block content